@model IEnumerable<EvergreenAPI.DTO.ExtractDetectionHistoriesDto>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Expert Confirmation";
}

<div class="container ftco-animate">
    <h3 class="text-center title">History</h3>
    <p class="text-center" id="blank-history">There's currently no files in your history, please try detect one.</p>
    <div class="mb-2 list-group-title" id="histories">
        <a class="item-link" href="#">
            <div class="d-flex justify-content-between" title="Click to view details">
                <span class="img-name w-25">Image name</span>
                <span class="disease-name w-50">Detected disease</span>
                <span class="acc w-25 text-right">Accuracy</span>
            </div>
        </a>

        @foreach (var item in Model)
        {
            <a class="item-link" href="#">
                <div class="d-flex justify-content-between" title="Click to view details">
                    <span class="img-name w-25">@item.ImageName</span>
                    <span class="disease-name w-50">@item.DetectedDisease</span>
                    <span class="acc w-25 text-right">@item.Accuracy</span>
                </div>
            </a>
        }
    </div>

    @* <div id="data-container"></div> *@
    @* <div id="pagination-container"></div> *@
</div>