@using Microsoft.AspNetCore.Http
@using System.Text.Json
@inject IHttpContextAccessor HttpContentAccessor

@{
    ViewData["Title"] = "Admin dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var session = HttpContentAccessor.HttpContext.Session;
    var jsonData = session.GetString("datas");
    var jsonLabel = session.GetString("labels");
    var data = JsonSerializer.Deserialize<List<int>>(jsonData).ToArray();
    var label = JsonSerializer.Deserialize<List<string>>(jsonLabel);
    string concatenatedInt = string.Join(", ", data);
    string concatenatedString = string.Join(", ", label);
    var jsonDataDisease = session.GetString("dataDisease");
    var dataDiseases = JsonSerializer.Deserialize<List<int>>(jsonDataDisease).ToArray();
    string concatenatedDiseaseInt = string.Join(", ", dataDiseases);
}

<div class="container">
    <div class="row">
        <div class="col-xl col-lg">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Medicine Chart</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie justify-content-center">
                        <canvas id="myMediChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl col-lg">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Disease Chart</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie justify-content-center">
                        <canvas id="myDiseaseChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>    
            //Medicine Pie Chart
            const ctxPie = document.getElementById('myMediChart').getContext('2d');
            new Chart(ctxPie, {
                type: 'pie',
                data: {
                labels: ['Fertilizer', 'Pesticide', 'Fungicide'],
                    datasets: [{
                        label: 'Total medicine of this kind:',
                        data: [@concatenatedInt],
                        backgroundColor: [
                            'rgb(255, 99, 132)',
                            'rgb(54, 162, 235)',
                            'rgb(255, 205, 86)'
                        ],
                        hoverOffset: 4
                    }]
                },
            });

            //Disease Pie Chart
            const ctxPieDisease = document.getElementById('myDiseaseChart').getContext('2d');
            new Chart(ctxPieDisease, {
                type: 'pie',
                data: {
                labels: ['Viruses', 'Pests', 'Weather Leaf', 'Healthy Leaf'],
                    datasets: [{
                        label: 'Total disease of this kind:',
                        data: [@concatenatedDiseaseInt],
                        backgroundColor: [
                            'rgb(255, 99, 132)',
                            'rgb(54, 162, 235)',
                            'rgb(255, 205, 86)',
                            'rgb(102,204,0)'
                        ],
                        hoverOffset: 4
                    }]
                },
            });
            
</script>
}