@{
    ViewData["Title"] = "FAQs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container">
    <h3 class="text-center mb-2 pb-2 text-danger fw-bold">FAQs</h3>
    <p class="text-center mb-5">
        Find the answers for the most frequently asked questions below
    </p>

    <div class="row">

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-danger">
                <i class="fa fa-rocket text-danger pe-2"></i> How to detect disease in my image(s)?
            </h6>
            <p>
                You need to login, then go to Detect page, select image(s) to detect and press Submit.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-danger">
                <i class="fa fa-rocket text-danger pe-2"></i> How can I edit my profile?
            </h6>
            <p>
                To edit your profile, please login and click on your icon on the top right corner of the navigation bar, from there click Edit Profile.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-danger">
                <i class="fa fa-rocket text-danger pe-2"></i> How can I get more support?
            </h6>
            <p>
                We can provide additional support if you contact us at the information below.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-danger">
                <i class="fa fa-rocket text-danger pe-2"></i> How accurate is your AI model?
            </h6>
            <p>
                Our AI model is currently at demo phase, so you need to ask professional doctor to confirm.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-danger">
                <i class="fa fa-rocket text-danger pe-2"></i> The page seem to load too slow, any problem?
            </h6>
            <p>
                The server is not maintained by us, so some connection problem may occure, please be patient.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-danger">
                <i class="fa fa-rocket text-danger pe-2"></i> Can I detect multiple images at the same time?
            </h6>
            <p>
                Yes. You definately can upload multiple images at the same time, they will be queued to process one by one.
            </p>
        </div>

    </div>
</section>