@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Forgot password";
}


<link href="
https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">

<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-password-image">
                            <img src="~/images/tomatoFP.jpg" class="img-fluid"/>
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                                    <p class="mb-4">
                                        We got it, stuff happens. Just enter your email address below
                                        and we'll send you a token to reset your password!
                                    </p>
                                </div>
                                <form asp-action="ForgotPassword" asp-controller="Authentication" method="post">
                                    <div class="form-group">
                                        <input name="Email" type="email" id="email" class="form-control rounded-pill"
                                               placeholder="Enter Email Address"/>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-lg text-white"
                                                style="padding-left: 2.5rem; padding-right: 2.5rem; background-color:#CF2323" value="ForgotPassword" id="submitBtn">
                                            Submit
                                        </button>
                                        <hr>
                                        <p class="small fw-bold mt-2 pt-1 mb-0">
                                            Don't have an account?
                                            <a asp-controller="Authentication" asp-action="Register"
                                               class="link-danger font-weight-bold" style="color:#1A763C">
                                                Register
                                            </a>
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
@if (TempData["message"] != null)
{
    <script>
        window.onload = () => {
            Swal.fire({
                position: 'center',
                icon: 'success',
                title: '@TempData["message"]',
                showConfirmButton: false,
                timer: 1500
            })
        }
    </script>
}

@if (TempData["error"] != null)
{
    <script>
        window.onload = () => {
            Swal.fire({
                position: 'center',
                icon: 'error',
                title: '@TempData["error"]',
                showConfirmButton: false,
                timer: 1500
            })
        }
    </script>
}