@using EvergreenAPI.DTO
@model ResetPasswordDto

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Reset password";
}
<style>
    .form-group {
        position: relative;
    }

        .form-group i {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
</style>

<link href="
https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">

<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-password-image">
                            <img src="~/images/tomatoLogin.jpg" class="img-fluid"/>
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center" style="margin-top: 25px">
                                    <h1 class="h4 text-gray-900 mb-2">Reset Your Password!</h1>
                                    <p class="mb-4">
                                        Please check out your email address.
                                        We have sent a token to reset your password.
                                    </p>
                                </div>
                                <form asp-action="ResetPassword" asp-controller="Authentication" method="post">
                                    <div class="form-group py-2">
                                        <input asp-for="Token" name="token" type="text" id="form3Example3" class="form-control form-control-lg rounded-pill"
                                               placeholder="Enter your token"/>
                                    </div>
                                    <div class="form-group py-2 show_hide">
                                        <input asp-for="Password" name="password" type="password" id="form3Example3" class="form-control form-control-lg rounded-pill"
                                               placeholder="New password here"/><i class="fa-solid fa-eye"></i>
                                    </div>
                                    <div class="form-group py-2 show_hide">
                                        <input asp-for="ConfirmPassword" name="confirmPassword" type="password" id="form3Example3" class="form-control form-control-lg rounded-pill"
                                               placeholder="Confirm password"/><i class="fa-solid fa-eye"></i>
                                    </div>
                                    <div class="text-center py-2">
                                        <button type="submit" class="btn btn-lg text-white"
                                                style="padding-left: 2.5rem; padding-right: 2.5rem; background-color:#CF2323" value="VerifyAccount" id="submitBtn">
                                            Submit
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://kit.fontawesome.com/bdb952e5fa.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
<script>
    const showHid = document.querySelectorAll('.show_hide i')
    const btn2 = document.querySelectorAll('.show_hide input')
    showHid[0].addEventListener('click', e => {
        if (btn2[0].type === 'password') {
            btn2[0].type = 'text'
            showHid[0].classList.remove('fa-solid')
            showHid[0].classList.remove('fa-eye')
            showHid[0].classList.add('fa-solid')
            showHid[0].classList.add('fa-eye-slash')
        }
        else {
            btn2[0].type = 'password'
            showHid[0].classList.remove('fa-solid')
            showHid[0].classList.remove('fa-eye-slash')
            showHid[0].classList.add('fa-solid')
            showHid[0].classList.add('fa-eye')

        }
    })


    showHid[1].addEventListener('click', e => {
        if (btn2[1].type === 'password') {
            btn2[1].type = 'text'
            showHid[1].classList.remove('fa-solid')
            showHid[1].classList.remove('fa-eye')
            showHid[1].classList.add('fa-solid')
            showHid[1].classList.add('fa-eye-slash')
        }
        else {
            btn2[1].type = 'password'
            showHid[1].classList.remove('fa-solid')
            showHid[1].classList.remove('fa-eye-slash')
            showHid[1].classList.add('fa-solid')
            showHid[1].classList.add('fa-eye')

        }
    })

</script>


@if (TempData["message"] != null)
{
    <script>
        window.onload = () => {
            Swal.fire({
                position: 'center',
                icon: 'success',
                title: '@TempData["message"]',
                showConfirmButton: false,
                timer: 1500
            })
        }
    </script>
}

@if (TempData["error"] != null)
{
    <script>
        window.onload = () => {
            Swal.fire({
                position: 'center',
                icon: 'error',
                title: '@TempData["error"]',
                showConfirmButton: false,
                timer: 1500
            })
        }
    </script>
}